manifest {
    name = "tylergross97/pdmr_data_download"
    author = "Tyler Gross"
    description = "Nextflow workflow for downloading data from NCI's PDMR"
    mainScript = "main.nf"
    homePage = "https://github.com/tylergross97/pdmr_data_download"
    defaultBranch = "main"
}


params {
    samplesheet = null
    base_dir = null
    outdir = null
}

wave {
    enabled = true
    strategy = ['conda']
}

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}



profiles {

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    docker {
        docker {
            enabled = true
        }
    }
}